:root {
  --primary-color: #bd2c2c;
  --secondary-color: #de7332;
  --tertiary-color: #ffae34;
  --white-color: #ffffff;
  --black-color: #000000;
}

.App {
  font-family: "Open Sans", sans-serif;
}

.mainContainer {
  /* background: url('https://templevillas.com/wp-content/uploads/2017/09/temple_off_campus_housing.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  background: hsla(0, 62%, 46%, 1);
  background: linear-gradient( 180deg, hsla(0, 62%, 46%, 1) 20%, hsla(36, 100%, 60%, 1) 100%);
  background: -moz-linear-gradient( 180deg, hsla(0, 62%, 46%, 1) 20%, hsla(36, 100%, 60%, 1) 100%);
  background: -webkit-linear-gradient( 180deg, hsla(0, 62%, 46%, 1) 20%, hsla(36, 100%, 60%, 1) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background: #ffffff;
  width: 500px;
  min-height: 600px;
  padding: 40px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
}

.imageBlock {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.imageBlock .logo {
  width: 100%;
  height: 100%;
}

#login-form .field>label {
  font-size: 16px;
  color: var(--primary-color);
  opacity: 0.8;
}

/* .ui.form input:not([type]),
  .ui.form input:not([password]),
  .ui.form input:not([type]):focus,
  .ui.form input:not([password]):focus {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--black-color);
    transition: border-bottom 200ms ease 0s;
    margin-bottom: 15px;
    padding-left: 10px;
  } */

#login-form input:not([type]):focus, #login-form input:not([password]):focus {
  border-bottom: 1px solid var(--secondary-color);
}

#login-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  color: var(--white-color);
  background: var(--primary-color);
  margin-top: 40px;
  padding: 15px;
  border-radius: 5px;
  transition: all 200ms ease 0s;
}

#login-btn:hover {
  color: var(--white-color) !important;
  background: var(--secondary-color) !important;
}

.adjusted-container {
  width: 1450px !important;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .formContainer {
    height: 550px;
    /* width: 350px;   */
    width: 330px;  
    margin: 20px 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) {

  .formContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#root>div:nth-child(2)>div>form>div>div>div:nth-child(1)>div>div>div {
  width: 100%;
}

#root>div:nth-child(2)>div>form>div>div>div:nth-child(2)>div>div>div {
  width: 100%;
}

/* #root>div:nth-child(2)>div>div>div.sc-fnVYJo.jYAvfn.rdt_TableHeader {
  display: none;
}

#root > div:nth-child(2) > div > div > header {
  display: none;
} */