/* MEDIA QUERIES */

/* DISPLAY/HIDE */
.display-on-desktop {
    display: initial;
}

/* #region */

/* LARGE SCREENS */
@media (min-width: 1200px) {}


/* IPAD PRO */
@media only screen and (min-width : 1024px) and (max-width : 1366px) {}


/* IPHONE 5/5S/SE */
@media only screen and (min-width : 320px) and (max-width : 568px) {

    /* DISPLAY/HIDE */
    .display-on-desktop {
        display: none !important;
    }

    /* PADDING */
    .pl-0.mobile {
        padding-left: 0;
    }

    .pr-0.mobile {
        padding-right: 0;
    }

    /* MARGIN */
    .ml.mobile {
        margin-left: 0;
    }

    .mr.mobile {
        margin-right: 0;
    }

    /* CONTAINER */
    .ui.container {
        width: 92.5% !important;
    }

    /* TAB NAVIGATION */
    .tab-menu {
        padding: 10px !important;
    }

    /* GRID COLUMNS */
    .ui.grid>[class*="two column"].row>.column,
    .ui.grid>[class*="four column"].row>.column,
    .ui.grid>[class*="three column"].row>.column {  
        width: 100% !important;
    }

    /* ICONS */
    .ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
        margin-right: 0;
    }

    /* TABLES */
    .rdt_TableCell:first-of-type {
        padding-left: 0;
    }

    header.gkJKZb {
        padding-left: 18px !important;
    }
    
}


/* IPHONE 6/X */
@media only screen and (min-width : 375px) and (max-width : 812px) {
    
}


/* REGULAR IPAD */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    /* DISPLAY/HIDE */
    .display-on-desktop {
        display: none !important;
    }

    /* PADDING */
    .pl-0.mobile {
        padding-left: 0;
    }

    .pr-0.mobile {
        padding-right: 0;
    }

    /* MARGIN */
    .ml.mobile {
        margin-left: 0;
    }

    .mr.mobile {
        margin-right: 0;
    }

    /* CONTAINER */
    .ui.container {
        width: 95% !important;
    }

    /* TAB NAVIGATION */
    .tab-menu {
        padding: 10px !important;
    }

    /* GRID COLUMNS */
    .ui.grid>[class*="two column"].row>.column,
    .ui.grid>[class*="four column"].row>.column,
    .ui.grid>[class*="three column"].row>.column {  
        width: 50% !important;
    }

    /* ICONS */
    .ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
        margin-right: 0;
    }

    /* TABLES */
    .rdt_TableCell:first-of-type {
        padding-left: 0;
    }

    header.gkJKZb {
        padding-left: 18px !important;
    }
}


/* OTHER IPADS */
@media only screen and (min-width : 1024px) {}


/* IPHONE 6 PLUS/X PLUS */
@media only screen and (min-width : 414px) and (max-width : 736px) {}
/* #endregion */